h5py==3.1.0
captum==0.3.1
nltk==3.5
seaborn==0.11.1
truecase==0.0.12
tqdm==4.62.0
googletrans==4.0.0rc1
more_itertools==8.8.0
requests==2.26.0
transquest==1.1.1
Cython==0.29.14
sentence_transformers==1.0.3
editdistance==0.5.3
sacrebleu==1.5.1
dill==0.3.4
BLEURT==0.0.1
tensorflow_gpu==2.5.0
numpy==1.19.5
pytorch_lightning==1.4.3
textattack==0.3.0
pandas==1.3.3
mosestokenizer==1.1.0
pytorch_transformers==1.2.0
transformers==4.4.0
pytorch_pretrained_bert==0.6.2
datasets==1.10.2
language_tool_python==2.5.5
EasyNMT==2.0.1
accelerate==0.3.0
pyemd==0.5.1
torch==1.9.0+cu111
matplotlib==3.3.4
torchvision==0.5.0
scipy==1.5.4
Unidecode==1.2.0
nlpaug==1.1.3
tensorflow_hub==0.12.0
shap==0.39.0
torchtext==0.6.0
sacremoses==0.0.43
comet==3.1.0
cupy==9.5.0
ipython==7.28.0
jieba==0.42.1
mock==4.0.3
Pillow==8.3.2
pynvrtc==9.2
scikit_learn==1.0
sphinx_rtd_theme==1.0.0
tensorflow==2.6.0
